/*=============
Font import From Google Font
==============*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Overpass', sans-serif;
}


/*=============
Reset HTML
==============*/
*,::before,::after{
    box-sizing: border-box;
}
*,::before,::after,p,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}
/*=============
Variable Collor
==============*/
$items-color : #0c1427;
$navbar-background : #0c1427;
$background-color :#070d19;
$button-color :#727cf5;
$font-color :#bfc3ce;
$font-white-color :#fff;
$font-weight-items :600;
body {
    background: $background-color;
}
.mainHome {
    transition: .5s;
    .mainContent {
        .container {
            .containerBanner {
                position: relative;
                .wrapperBanner {
                    .banner {
                        img {
                            width: 100%;
                        }
                    }
                }
                .leftArrow ,.rightArrow {
                    position: absolute;
                    top: 45%;
                    z-index: 2;
                    display: flex;
                    align-items: center;

                    ion-icon {
                        color: #fff;
                        opacity: .5;
                        transition: .3s;
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                            transition: .3s;
                        }
                    }
                }
                .leftArrow {
                    left: 15px;
                }
                .rightArrow {
                    right: 15px;
                }
            }
            .containerGameList {
                margin-bottom: 1.5rem;
              .nameContent  {
                  color: $font-white-color;
              }      
              .product-list {
                  display: flex;
                  flex-wrap: wrap;
                  .game {
                      background: $items-color;
                      border: 1px solid #172340;
                      text-decoration: none;
                      transition: border .3s;
                      overflow: hidden;

                      &:hover {
                          border: 1px solid #fff;
                          transition: border .3s;
                      }
                      .imgProduct {
                          width: 100%;
                          transition: transform .3s;
                          &:hover {
                              transform: scale(1.1);
                              transition: transform .3s;
                          }
                      }
                      .nameProduct {
                        text-align: center;
                        color: $font-color;
                        font-weight: 600;
                      }
                  }
              }
            }
            .containerBenefit {
                .headerBenefit {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .arrowsBenefit {
                        display: flex;
                        align-items: center;

                        .btnArrow {
                            border: 2px solid #727cf5;
                            display: flex;
                            align-items: center;
                            padding: .5rem;
                            transition: .3s;
                            cursor: pointer;
                            ion-icon {
                                color: #fff;
                                font-size: 20px;
                            }
                            &:not( :last-child) {
                                margin-right: .5rem;
                            }
                            &:hover {
                                background: $button-color;
                                transition: .3s;
                            }
                        }
                    }
                }
                .wrapperBenefit {
                    display: flex;
                    height: 100%;
                    .benefit {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        border: 3px solid #727cf5;
                        border-radius: 20px;
                        width: 100%;
                        background: $items-color;
                        color: $font-color;
                        transition: .5s;
                        height: 100%;
                        &:hover {
                            background: $button-color;
                            border: 3px solid #1c2741;
                            transition: .5s;
                        }
                        .iconBenefit {
                            width: 100%;
                        }
                        .nameBenefit {
                            font-weight: 800;
                        }
                    }

                    .slick-list {
                        .slick-track {
                            display: flex !important;
                            .slick-slide {
                                height: inherit !important;
                            }
                        }
                    }
                }
            }
            .containerAbout {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: $items-color;
                border: 3px solid rgb(28, 39, 65);
                .about {
                    margin-bottom: 2rem;
                    color: $font-color;
                    .nameContent {
                        font-weight: 800;
                    }
                    .aboutInformation {
                        font-weight: 500;
                    }
                }
                .metodePembayaran {
                    .nameContent {
                        font-weight: 700;
                        color: $font-color;
                        font-size: 14px;
                        margin-bottom: .5rem;
                    }
                    .wrapperMetode {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        .metode {
                            background: rgb(195, 195, 195);
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid rgb(28, 39, 65);
                            transition: .3s;
                            &:hover {
                                background: #fff;
                                transition: .3s;
                                img {
                                -webkit-filter: grayscale(0%);
                                -moz-filter: grayscale(0%);
                                -ms-filter: grayscale(0%);
                                -o-filter: grayscale(0%);
                                transition: .3s;
                                }
                            }
                            img {
                                width: 100%;
                                border-radius: 4px;
                                -webkit-filter: grayscale(100%);
                                -moz-filter: grayscale(100%);
                                -ms-filter: grayscale(100%);
                                -o-filter: grayscale(100%);
                            }
                        }
                    }
                }
            }
        }
    }
    .mobileMenu {
        width: 100%;
        display: flex;
        justify-content: center;
        background: $navbar-background;
        .menu {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-decoration: none;
            color: $font-color;
        }
    }
}

@media screen and (min-width : 0px) {
    .mainHome {
        .mainContent {
            padding-top: 5rem;
            padding-bottom: 2rem;
            margin-bottom: 3rem;
            .container {
                .containerBanner {
                    .leftArrow ,.rightArrow {
                        ion-icon {
                            font-size: 22px;
                        }
                    }
                    .wrapperBanner {
                        margin-bottom: 0;
                        .slick-dots {
                            li {
                                button {
                                    &::before {
                                        color: #fff;
                                        font-size: 6px;
                                    }
                                }
                            }
                        }
                    }
                }
                .containerGameList {
                    margin-top: 3rem;
                    .nameContent  {
                        font-size: 18px;
                        margin-bottom: 1rem;
                    }     
                    .product-list {
                        justify-content: center;
                        .game {
                            width: 100%;
                            max-width: 30%;
                            padding: .5rem;
                            border-radius: 12px;
                            margin: 0 .3rem;
                            margin-bottom: .5rem;
                            .imgProduct {
                                border-radius: 6px;
                            }
                            .nameProduct {
                              font-size: 12px;
                              margin: 1rem 0 .5rem 0;
                            }
                        } 
                    }
                }
                .containerBenefit {
                    margin-bottom: 1.5rem;
                    .headerBenefit {
                        margin-bottom: 1rem;
                        .nameContent  {
                            font-size: 18px;
                            color: $font-white-color;
                        } 
                    }
                    .wrapperBenefit {
                        .benefit {
                            padding: 1rem;
                            margin: .5rem;
                            .iconBenefit {
                                margin-bottom: 1rem;
                                max-width: 80px;
                            }
                            .nameBenefit {
                                font-size: 14px;
                                margin-bottom: .3rem;
                            }
                            .infoBenefit {
                                font-size: 10px;
                                max-width: 200px;
                            }
                        }
                    }
                }
                .containerAbout {
                    padding: 2rem 1rem;
                    border-radius: 12px;
                    .about {
                        .nameContent {
                            font-size: 16px;
                            margin-bottom: .5rem;
                        }
                        .aboutInformation {
                            font-size: 11px;
                            max-width: 400px;
                        }
                    }
                    .metodePembayaran {
                        .nameContent {
                            font-weight: 800;
                            color: $font-color;
                        }
                        .wrapperMetode {
                            .metode {
                                padding: .5rem;
                                margin: .2rem;
                                min-width: 30px;
                                min-height: 47px;
                                max-height: 47px;
                                img {
                                    max-width: 55px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mobileMenu {
            padding: .5rem 0;
            .menu {
                padding: 0 2rem;
                font-size: 12px;
                ion-icon {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (min-width : 768px) {
    .mainHome {
        .mainContent {
            padding-top: 7rem;
            margin-bottom: 0rem;
            .container {
                .containerBanner {
                    .leftArrow ,.rightArrow {
                        ion-icon {
                            font-size: 32px;
                        }
                    }
                }
                .containerBenefit {
                    .wrapperBenefit {
                        .benefit {
                            .infoBenefit {
                                font-size: 12px;
                                max-width: 250px;
                            }
                        }
                    }
                }
            }
        }
        .mobileMenu {
            display: none;
        }
    }
}

@media screen and (min-width : 992px) {
    .mainHome {
        .mainContent {
            .container {
                .containerGameList {
                    .nameContent  {
                        font-size: 24px;
                        margin-bottom: 1rem;
                    }     
                    .product-list {
                        justify-content: flex-start;
                        .game {
                            max-width: 23.29%;
                            border-radius: 16px;
                            margin: .5rem;
                            .imgProduct {
                                border-radius: 16px;
                            }
                            .nameProduct {
                              font-size: 12px;
                              margin: 1rem 0 .5rem 0;
                            }
                        } 
                    }
                }
                .containerBenefit {
                    .headerBenefit {
                        .nameContent  {
                            font-size: 24px;
                        } 
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1200px) {
    .mainHome {
        .mainContent {
            .container {
                .containerGameList {
                    .product-list {
                        .game {
                            max-width: 23.56%;
                        } 
                    }
                }
                .containerAbout {
                    .about {
                        .nameContent {
                            font-size: 18px;
                        }
                        .aboutInformation {
                            font-size: 12px;
                        }
                    }
                    .metodePembayaran {
                        .nameContent {
                            font-size: 16px;
                        }
                        .wrapperMetode {
                            .metode {
                                padding: .5rem;
                                margin: .2rem;
                                min-width: 30px;
                                min-height: 47px;
                                max-height: 47px;
                                img {
                                    max-width: 55px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :1400px) {
    .container {
        max-width: 800px;
    }
    .mainHome {
        .mainContent {
            .container {
                .containerGameList {
                    .product-list {
                        .game {
                            max-width: 22.94%;
                        } 
                    }
                }
            }
        }
    }
}
