/*=============
Font import From Google Font
==============*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Overpass', sans-serif;
}


/*=============
Reset HTML
==============*/
*,::before,::after{
    box-sizing: border-box;
}
*,::before,::after,p,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}
/*=============
Variable Collor
==============*/
$items-color : #0c1427;
$navbar-background : #0c1427;
$background-color :#070d19;
$button-color :#727cf5;
$font-color :#bfc3ce;
$font-white-color :#fff;
$font-weight-items :600;
body {
    background: $background-color;
}


.mainHome {
    transition: .5s;
    .navbar {
        background: $navbar-background;
        transition: .5s;
        .container {
            display: flex;
            flex-direction: column;
            .navbarMobile {
                align-items: center;
                justify-content: space-between;
                width: 100%;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                }
                .navbarIcon {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .nameBrand {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100%;
                    }
                }
                .userControl {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    a {
                        text-decoration: none;
                        &:hover {
                            ion-icon {
                                color: $button-color;
                                transition: .3s;
                            }
                        }
                        ion-icon {
                            color: $font-color;
                            transition: .3s;
                        }
                    }
                }
            }
            .navbarDesktop {
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .iconBrand {
                    img {
                        width: 100%;
                    }
                }
                .userControl {
                    display: flex;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: $font-color;
                        display: flex;
                        align-items: center;
                        font-weight: 700;
                        transition: color .3s;
                        &:hover {
                            color: $button-color;
                            transition: color .3s;
                        }
                    }
                }
            }
        }
    }
    .navbar.onScrolled {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: .5s;

    }
}

@media screen and (min-width : 0px) {
    .mainHome {
        .navbar {
            .container {
                .navbarMobile {
                    display: flex;
                    .navbarIcon {
                        img {
                            max-width: 30px;
                        }
                    }
                    .nameBrand {
                        img {
                            max-width: 80px;
                        }
                    }
                    .userControl {
                        a {
                            ion-icon {
                                font-size: 16px;
                                margin: 0 .4rem;
                            }
                        }
                    }
                }
                .navbarDesktop {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width : 768px) {
    .mainHome {
        .navbar {
            width: 100%;
            .container {
                .navbarMobile {
                    display: none;
                }
                .navbarDesktop {
                    display: flex;
                    .iconBrand {
                        img {
                            max-width: 100px;
                        }
                    }
                    .userControl {
                        a {
                            font-size: 14px;
                            margin: 0 .7rem;
                            ion-icon {
                                margin-right: .3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}